body{
    font: 20px arial, serif
}

.navbar {
    background-color: #FF0040
    
}


.quem-somos {
    background-color: rgb(90, 90, 250);
    color: white;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.parceiros {
    background-color:#81DAF5;
}

.servicos {
    background-color: aquamarine;
}

.bg-footer {
    background-color: black;
    color: white;
}